.registerHome {
    background-size: cover;
    padding-top: 28px;
}

.registerHome .itemM .email {
    margin-top: 90px;
    display: inline-block;
    margin-bottom: 14px;
}
.registerHome .itemM .text {
    font-family: "RobotoBold";
    color: #333;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 25px;
}
.registerHome .itemM a.hotLine {
    background: #f0150a;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Roboto";
    line-height: 50px;
    margin-top: 0;
}


@media (min-width: 1200px){
    .registerHome .itemM:nth-child(2) {
        width: 384px;
        padding: 0 27px;
    }
    .registerHome .itemM:nth-child(3) {
        width: 375px;
    }
}
.registerHome .container:before {
    content: " ";
    display: table;
}
.khungAnh, .khungAnh {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.khungAnhCrop {
    transition: .7s;
}
.khungAnhCrop, .khungAnhCrop0, .khungAnh iframe {
    display: inline-block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}
.khungAnhCrop img {
    width: 100%;
    height: 100%;
    z-index: 1;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.registerHome .itemM .khungAnh:before {
    padding-bottom: 154%;
}
.khungAnh:before, .khungAnh:before {
    content: "";
    display: block;
    padding-bottom: calc(9/16*100%);
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.registerHome .itemM .item a {
    line-height: 50px;
    background: #f0150a;
    font-size: 24px;
    width: 100%;
    font-family: "Roboto";
    margin-top: 30px;
}
.registerHome a.btn {
    padding: 0 30px;
    display: inline-block;
    font-family: "RobotoBold";
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 25px;
    background: #f0150a;
    transition: .3s;
    margin-bottom: 3px;
    box-shadow: 0 2px 5px 1px rgb(0 0 0 / 20%);
    border: 0;
}
.registerHome .itemM .item input, .registerHome .itemM .item textarea {
    background: #fff;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 10px 0 46px;
    border: solid 1px #fff;
    outline: 0;
    height: 45px;
}
.registerHome .itemM .form {
    margin-bottom: -5px;
    margin-top: 70px;
}
.form {
    margin: 0 -5px -10px -5px;
}
.registerHome .itemM .item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 4px;
}
.form .item {
    padding: 0 5px;
    margin-bottom: 10px;
}
.registerHome .itemM .item i {
    position: absolute;
    top: 15px;
    left: 61px;
    color: #999;
}
.form .item i {
    z-index: 2;
}
.registerHome .itemM .item input, .registerHome .itemM .item textarea {
    background: #fff;
    border-radius: 5px;
    line-height: 45px;
    padding: 0 10px 0 46px;
    border: solid 1px #fff;
    outline: 0;
    height: 45px;
}      
.form input, .form .input {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding: 0 10px 0 34px;
    color: #999;
    width: 100%;
    transition: .4s;
    border: solid 1px #e0e0e0;
}
.registerHome .itemM .item textarea {
    resize: none;
    line-height: 20px;
    padding: 10px 10px 10px 46px;
    height: 115px;
}
.form textarea {
    resize: none;
    padding: 10px;
    border-radius: 5px;
    height: 80px;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px 10px 10px 34px;
    width: 100%;
    color: #999;
    transition: .4s;
    border: solid 1px #e0e0e0;
}
textarea {
    padding: 5px 10px;
    width: 100%!important;
}
@media (max-width: 767px) {
    .registerHome .itemM .email {
        display: none;
    }
    .registerHome .itemM a.hotLine {
        bottom: 85px;
    }
    .registerHome .itemM a.hotLine {
        position: fixed;
        width: 40px;
        height: 40px;
        font-size: 0;
        background: #f0150a;
        border-radius: 50%;
        right: 17px;
        bottom: 115px;
        line-height: 40px;
        z-index: 100;
        padding: 0;
    }
    .registerHome .itemM a.hotLine {
        background: #f0150a;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-family: "Roboto";
        line-height: 50px;
        margin-top: 0;
    }
    .registerHome .itemM .item {
        margin-left: -40px;
    }
    .registerHome .itemM .item a {
        line-height: 40px;
        font-size: 20px;
        padding: 0 30px;
        width: auto;
    }
    .registerHome .itemM .item {
        margin-left: -40px;
    }
    .registerHome .itemM .item:last-child {
        text-align: center;
    }
}
@media (max-width: 1199px) {
    .registerHome .itemM .email {
        margin: 20px 0;
    }
    .registerHome .itemM:nth-child(2) {
        display: none;
    }
    .registerHome .itemM .form {
        margin-top: 0;
    }
}
.registerHome .itemM span.title {
    font-family: "RobotoBold";
    color: #333;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
