.logo-custom {
    width: 100px;
    height: 100px;
}
.custom-course {
    width: 416px;
    height: 311px;
}
.main-nav {
    padding: 0;
}
.pd-0 {
    padding-top: 0px;
}
.main-nav nav .navbar-nav .nav-item a {
    font-weight: bold;
}

/* .box-custom:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transition: all ease 1s;
    border: none!important;
    -webkit-box-shadow: -1px 14px 51px -17px rgb(0 0 0 / 75%);
    -moz-box-shadow: -1px 14px 51px -17px rgba(0,0,0,.75);
    box-shadow: -1px 14px 51px -17px rgb(0 0 0 / 75%);
} */

.box-custom{
    transition:all ease 1s;
    border:none!important;
}
.box-custom:hover{
    -webkit-box-shadow:-1px 14px 51px 1px rgba(0,0,0,.75);
    -moz-box-shadow:-1px 14px 51px 1px rgba(0,0,0,.75);
    box-shadow:-1px 14px 51px 1px rgba(54, 41, 41, 0.75)
}

.pp-item-number.pp-orange {
    background-color: #f71 !important;
}

.nav a, .nav label {
    display: block;
    color: #0067da;
    text-decoration: underline;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }
  
  .nav label { cursor: pointer; }
  
  /**
   * Styling third level list items
   */
  
  .sub-sub-group-list a, .sub-sub-group-list label {
    padding-left: 6rem;
  }
  
  .sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
  
  /**
   * Hide nested lists
   */
  
  .group-list, .sub-group-list, .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }
  
  .nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
  max-height: 1000px; }
  
  /**
   * Rotating chevron icon
   */
  
  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
  }
  
  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }


ol, ul { list-style: none }




.pp-item.pp-green {
    border-right: 40px solid #1cf4b2!important;
}

.pp-item {
    display: flex;
    position: relative;
    padding-left: 10px;
    border-right: 40px solid #333;
    box-shadow: 0 4px 6px 0 var(--color-shadow);
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #ffffffc7;
    transition: all .2s linear;
    top: 0;
    border: 1px solid #f2e6e6;
}

.pp-item:hover {
    box-shadow: 5px 5px 3px 3px rgb(216, 190, 190);
}

.pp-item-number.pp-green {
    background-color: #1cf4b2!important;
}

.pp-item .pp-item-number {
    background-color: #333;
    position: relative;
    top: -15px;
    left: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 75px;
    border-radius: 50%;
    width: 60px;
}


.py-5 {
    padding-bottom: 0 !important;
}

.pp-item .pp-item-number span {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    display: block;
}

.img-intro {
    margin: auto;
    width: 83%;
    padding: 10px;
}

/* Blinking Text */
@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 
#txt-new {
    background:red;
    font-weight:bold;
    position: relative;
    top: -82%;
    left: 79%;
    font-size: 12px;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}
.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: dimgrey;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 58%!important;
    transform: translateY(-50%);
}
@media (min-width: 768px) {
    .card img {
        height: 15em;
    }
}
.owl-nav {
    display: block;
}

.owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -25px;
    right: -1.5em;
    margin-top: -1.65em;
}
.owl-carousel:hover .owl-nav button, .owl-nav button {
    color: red !important;
}
.owl-nav button {
    display: block;
    font-size: 1.3rem !important;
    line-height: 2em;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: white !important;
    border: 1px solid #e0e8f3 !important;
    z-index: 99;
    box-shadow: 0 4px 15px rgb(67 67 67 / 15%);
}
.owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -1.65em;
}
.carousel-control-prev {
    left: -23px!important;
}
.carousel-control-next {
    right: -23px!important;
}

/*start countdown*/
.countdown {
margin-bottom: 20px;
}
.countdown .countdown-item {
    display: inline-block;
}

.countdown .countdown-digit,
.countdown .countdown-label {
    font-size: 2rem;
    font-weight: 300;
}

.countdown .countdown-label {
    font-size: 1.2rem;
    padding: 0 5px;
}

.countdown-sm .countdown-digit,
.countdown-sm .countdown-label {
    font-size: 1.4rem;
}

.countdown-sm .countdown-label {
    font-size: 0.875rem;
    padding: 0 5px;
}

[data-countdown-label="hide"] .countdown-label:not(.countdown-days) {
    display: none;
}

[data-countdown-label="show"] .countdown-separator {
    display: none;
}

.countdown--style-1 .countdown-item {
    margin-right: 10px;
}

.countdown--style-1 .countdown-item:last-child {
    margin-right: 0;
}

.countdown--style-1 .countdown-digit {
    display: block;
    width: 70px;
    height: 70px;
    background: #f3f3f3;
    color: #333;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
}

.countdown--style-1 .countdown-label {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
}

.countdown--style-1-v1 .countdown-digit {
    background: #0067da;
    color: #fff;
}
/* end countdown */